<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script id="dsq-count-scr" src="//roman-gich.disqus.com/count.js" async></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
    <script type='text/javascript'>hljs.initHighlightingOnLoad();</script>
  </body>

</html>
